<link rel="stylesheet" href="header.css">
<body>
    
<div class="header">
    <div class="left-header">
        <div class="name-header"><a href="index.html">dkp</a></div>
        <div class="hello-header"><a href="index.html">_hello</a></div>
        <div class="about-me-header"><a href="pages/about-me.html">_about-me</a></div>
        <div class="projects-header"><a href="https://dkp-consult.github.io/exercices/">_projects</a></div>
    </div>
    <div class="right-header">
        <div class="contact-me-header"><a href="mailto:contact@dkp-consult.be">_touch-me</a></div>
    </div>
</div>

<div class="space-content"></div>

<div class="footer">
    <div class="left">
        <div class="find-me"><p>find-me in:</p></div>
        <div class="twitter"></div>
    </div>
    <div class="right">
        <div class="github"><a href="https://github.com/dkp-consult/">@dkp-consult</a></div>
        <div class="github-logo"></div>
    </div>
</div>


</body>