<link rel="stylesheet" href="header.css">
<body>
    
<div class="header">
    <div class="left">
        <div class="name"><a href="#">dkp</a></div>
        <div class="hello"><a href="#">_hello</a></div>
        <div class="about-me"><a href="#">_about-me</a></div>
        <div class="projects"><a href="#">_projects</a></div>
    </div>
    <div class="right">
        <div class="contact-me"><a href="mailto:contact@dkp-consult.be">_touch-me</a></div>
    </div>
</div>

<div class="space-content"></div>

<div class="footer">
    <div class="left">
        <div class="find-me"><p>find-me in:</p></div>
        <div class="twitter"></div>
    </div>
    <div class="right">
        <div class="github"><a href="https://github.com/dkp-consult/">@dkp-consult</a></div>
        <div class="github-logo"></div>
    </div>
</div>


</body>