* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #111;
}
.sidenav.active {
    left: 0;
}
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
#openBtn, .burger-icon {
    width: 35px;
}
.menu-sizing {
    width: 50px;
}

@font-face {
    font-family: "Fira";
    src: url("../../fonts/FiraCode-Regular.ttf") format("truetype");
  }

.name {
    font-family: 'Fira';
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: blue;
    display: flex;
    width: 100%;
}
.pics-card {
    background: rgba(108, 144, 227, 0.25);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    border: 1px solid rgba(108, 144, 227, 0.3);
    height: 220px;
    width: 220px;
    margin-top: 50px;
    margin-left: 25px;
}
.pics {
    background-image: url(../../images/picsofme.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
