<link rel="stylesheet" href="card.css">
<body>
    
<div class="card-desktop">
    <div class="card-img">
        <div class="card-logo"></div>
    </div>
    <div class="card-bottom">
        <div class="card-explain">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident.</p>
        </div>
        <div class="card-btn">
            <a class="" href="#">view-project</a>
        </div>
    </div>
</div>

<!-- Mobile card was necessary ? I don't know because size on main card will seems ok, 
but after all you can just use query option for do it on initial card-->

</body>