<link rel="stylesheet" href="card.css">
<body>
    
<div class="card-desktop">
    <div class="card-img-desktop">
        <div class="card-logo-desktop"></div>
    </div>
    <div class="card-bottom-desktop">
        <div class="card-explain-desktop">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident.</p>
        </div>
        <div class="card-btn-desktop">
            <a class="" href="#">view-project</a>
        </div>
    </div>
</div>

<!-- Mobile card was necessary ? I don't know because size on main card will seems ok, but after all you can just use query option for do it on initial card-->

<div class="card-mobile">
    <div class="card-img-mobile">
        <div class="card-logo-mobile"></div>
    </div>
    <div class="card-bottom-mobile">
        <div class="card-explain-mobile">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad provident.</p>
        </div>
        <div class="card-btn-mobile">
            <a class="" href="#">view-project</a>
        </div>
    </div>
</div>

</body>