$primaryColorOne : #01080E;
$primaryColorTwo : #011627;
$primaryColorThree: #011627;

$secondaryColorOne: #607B96;
$secondaryColorTwo: #3C9D93;
$secondaryColorThree: #4D5BCE;
$secondaryColorFour: #FFFFFF;

$accentColorOne: #FEA55F;
$accentColorTwo: #43D9AD;
$accentColorThree: #E99287;
$accentColorFour: #C988DF;

$linesColor: #1E2D3D;
$linesColorRgba: rgba(16,31,47,0.5);

$gradientsColorOne: #4D5BCE;
$grandientsColorTwo: #43D9AD;

$btn-dark: #1C2B3A;
$card-dark: #011221;

$background-color: #010C15;