* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira, Consolas'
}

@import "../../styles/sass/partials/colors";
@import "../../styles/sass/partials/fonts";
@import "../../styles/sass/partials/variables";

header {
    border-bottom: 1px solid $linesColor;
    height: 56px;
    display: flex;
    justify-content: space-between;
}
body {
    background-color: $background-color;
} 
.name a{
    color: $secondaryColorOne;
    text-decoration: none;
    line-height: 56px;
    padding-left: 18px;
}
.mobile {
    width:calc(100vw - 30px);
    height: calc(100vh - 30px);
    border: solid 1px $linesColor;
    border-radius: 8px;
    background-color: $primaryColorThree;
    position: absolute;
    margin: 15px;
}
.sidenav {
    width:  calc(100vw - 30px);
    height: calc(100vh - 230px);
    position: fixed;
    border: solid 1px $linesColor;
    border-radius: 8px;
    z-index: 1;
    top: 0;
    left: -150vw;
    background-color: $primaryColorTwo;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: left 0.5s ease;
}
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $secondaryColorFour;
    display: block;
    transition: 0.3s;
    height: 100px;
    border-bottom: 1px solid $linesColor;
    line-height: 100px;
}
.sidenav a:hover {
    color: #111;
}
.sidenav.active {
    left: 0;
    width:calc(100vw - 100px);
    height: calc(100vh - 230px);
    border: solid 1px $linesColor;
    border-radius: 8px;
    margin-left: 60px;
}
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.burger-icon span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: $secondaryColorOne;
    margin: 6px 0;
}
.burger {
  padding-right: 18px;
  padding-top: 10px;  
}
.name-navbar, .hello, .about-me, .projects, .contact-me {
    height: 100px;
    line-height: 100px;
}
.name-navbar a, .hello a, .about-me a, .projects a, .contact-me a {
    padding-left: 60px;
    height: 100px;
    line-height: 100px;
}
.footer-navbar {
    border-radius: 8px;
    border-top: 1px solid $linesColor;
    height: 100px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    font-size: 25px;
    color: $secondaryColorFour;
}
.twitter {
    border-left: 1px solid $linesColor;
    border-right: 1px solid $linesColor;
    height: 100px;
    width: 100px;
    background-image: url(../../images/icons/twitter.svg);
    background-size: cover;
    opacity: 0.3;
    padding-left: 30px;
    background-color: $secondaryColorFour;
}
.github {
    height: 100px;
    width: 100px;
    background-image: url(../../images/icons/github.svg);
    opacity: 0.3;
    background-size: cover;
    background-color: $secondaryColorFour;
}
.right {
    display: flex;
    flex-direction: row;
}
.left {
    line-height: 100px;
    padding-left: 60px;
}

.blurs-background {
    width: 300px;
    height: 418px;
    position: absolute;
    top: 154px;
    background: rgb(67,217,173);
    background: radial-gradient(circle, rgba(67,217,173,1) 0%, rgba(69,189,180,1) 10%, rgba(71,164,187,1) 20%, rgba(74,131,196,1) 30%, rgba(67,217,173,1) 40%, rgba(67,217,173,1) 50%, rgba(75,114,200,1) 60%, rgba(67,217,173,1) 70%, rgba(72,157,188,1) 80%, rgba(70,182,182,1) 90%, rgba(67,217,173,1) 100%); 
    filter: blur(155px); 

    /* background: rgb(67,217,173);
    background: linear-gradient(90deg, rgba(67,217,173,1) 10%, rgba(75,114,200,1) 50%, rgba(67,217,173,1) 90%); 
    filter: blur(150px); */

   /* background-image: linear-gradient(90deg,
        hsl(162deg 66% 56%) 0%,
        hsl(207deg 100% 45%) 29%,
        hsl(191deg 100% 43%) 43%,
        hsl(191deg 100% 43%) 57%,
        hsl(207deg 100% 45%) 71%,
        hsl(162deg 66% 56%) 100%);
    filter:blur(75px); */
}