<link rel="stylesheet" href="collapsible.css">

<body>
  <div class="collapsible-cat">
    <button class="collapsible">personal-info</button>
    <div class="content">
      <br />
      <p>
        Pierre Debski alias DkP, acronyme issus de mes noms et prémon. En
        cours de reconversion, j'ai décidé de me former en autodidacte, le
        web étant rempli d'une infinité de ressources et la vie m'ayant
        montré que j'étais parfois plus productif et efficace en dehors du
        cadre classique de formation, j'ai entamé ce parcours début 2022.
      </p>
      <br />
      <p>
        Auto-qualifié de BabyDev actuellement, vous retrouverez ici un accès
        à mes différents projets, mon CV, une partie blog, mon GitHub ainsi
        qu'une page composant les différents services que je proposes.
      </p>
      <br />
      <p>
        Car oui, afin de me perfectionner et de devenir un Dev Junior, j'ai
        besoin de projet et quelle meilleures méthode que des projets
        concrets pour des clients ? C'est la raison pour laquelle je me suis
        lancé dans l'aventure de freelance, après journée, pour parfaire ma
        reconversion.
      </p>
    </div>
    <button class="collapsible">profesional-info</button>
    <div class="content">
      <br />
      <p>
        J'ai travaillé dans le monde du courtage en assurance durant
        quelques temps, ensuite j'ai terminé mon parcours de Conseiller
        Financier. Actuellement, je travail en tant que gestionnaire crédit
        dans une agence. La vie avancant, j'ai eu besoin de renouveau, de
        nouveau défis et objectifs. Après quelques réflexion, le monde du
        dévloppement est devenu comme une évidence, loin d'être une simple
        lubie, je prends à coeur mon apprentisage.
      </p>
      <br />
      <p>
        Certe, cela prends du temps de composer avec le travail, la vie de
        famille et la formation, mais à force de détermination et de
        volonté, je vais y arriver. Afin de donner un coup d'accélérateur à
        ma montée en compétence, le statut de freelance / indépendant
        complémentaire m'est apparut. J'ai beaucoup de mal à travailler sur
        des projets non concrets, dès lors en commencant par des services
        basiques et en montant en compétence graduellement, j'espère étoffer
        mon portfolio et acquérir de plus en plus de compétence et
        d'aisance.
      </p>
      <br />
      <p>
        Mes activités précédentes et mes études, me permette de proposer
        plus que simplement du code, et j'espère que ce que je suis en
        mesure de proposer aux indépendants, TPE / PME ne fera qu'augmenter
        au fil du temps.
      </p>
    </div>
    <!-- <button class="collapsible">Section1</button>
    <div class="content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati culpa laudantium, dolores placeat explicabo accusantium tempore praesentium ducimus eveniet adipisci quibusdam ratione! Impedit dolorum, ipsum distinctio quia vel praesentium voluptatibus!</p></div>
    <button class="collapsible">Section1</button>
    <div class="content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati culpa laudantium, dolores placeat explicabo accusantium tempore praesentium ducimus eveniet adipisci quibusdam ratione! Impedit dolorum, ipsum distinctio quia vel praesentium voluptatibus!</p></div>
    <button class="collapsible">Section1</button>
    <div class="content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati culpa laudantium, dolores placeat explicabo accusantium tempore praesentium ducimus eveniet adipisci quibusdam ratione! Impedit dolorum, ipsum distinctio quia vel praesentium voluptatibus!</p></div> -->
    
  </div>
</body>

<script type="text/javascript" src="collapsible.js"></script>